---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Cognipedia" description="L'encyclopedie ludique des biais cognitifs">
  <h1>Cognipedia</h1>
  <p>L'encyclopedie ludique des biais cognitifs</p>
</BaseLayout>
