---
import "@/styles/global.css";

interface Props {
	title: string;
	description?: string;
	lang?: string;
}

const { title, description = "", lang = "fr" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="flex min-h-dvh flex-col">
    <slot name="header" />
    <main class="mx-auto w-full max-w-6xl flex-1 p-8">
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>
